extends layout

block heading
  link(rel='stylesheet', type='text/css', href='/stylesheets/fullcalendar.css')
  script(type='text/javascript', src='/javascripts/jquery.js')
  script(type='text/javascript', src='/javascripts/fullcalendar.js')
  script(type='text/javascript')
    $(document).ready(function() {
      console.log("page loaded")

      $('#calendar').fullCalendar({
         events: [
        {
            title  : 'event1',
            start  : '2013-01-01'
        },
        {
            title  : 'event2',
            start  : '2010-01-05',
            end    : '2013-01-07'
        },
        {
            title  : 'event3',
            start  : '2013-01-09 12:30:00',
            allDay : false 
        }
    
      ]
      })
    });

block content
  h1= title
  div(class="inline", style="display:inline-block; vertical-align:text-top")
    div(class="goals", style="display:inline-block; vertical-align:text-top")
      h2 Today's Reminders
      ul
        each info, goal in goals
          - if (info.daily !== ''){
            li
              h4 #{info.daily}
          -}
      br
      h2 Goals
      ul
        each info, goal in goals
          - if (info.goal !== ''){
            li
              h3 #{info.goal}
          -}
      form(id="cancel", action='/intermediate', method='get')
        input(class="btn btn-primary", type='submit', value='Add a Goal')
    div(id="calendar", style="display:inline-block; vertical-align:text-top; margin-left: 100px")
