extends layout

body
block content
  div(id="box")
    h1= title
    h3 Choose a preset goal:

    form(id="preset_goal", action='/presetgoal', method='post')
      select(name='presetgoal') 
        option(value='Apply to Grad School') Apply to Grad School
        option(value='Get a Drivers License') Get a Drivers License
        option(value='Find a Job') Get a Job
      div(class="control-group")
        input(class="btn btn-primary", type="submit", value="Submit", style='')

    h2 Or

    h3 Make your own goal:

    form(id="new_goal", action='/newgoal', method='post')
      input(class="btn btn-primary", type="submit", value="New Goal", style='')