extends layout

block content
  h1= title
  
  div(class="inline", style="display:inline-block")
  form(id="create_goal", action='/savegoal', method='post', style="display:inline-block")
    h4 Goal
    input(type='text', name='Goal')  
    br
    br
    div(class="task")
      h4 Task
      input(type='text', name='Task') 
      br
      h4 Task Duration
      input(type='text', name='Duration')
      br 
   

    button(id="newtask", class="btn", type='newtask') Add task
    br
    br
    h4 Daily Activities
    textarea(id='daily', name='Daily')
    br
    br
    h4 Start Date
    select(name='startdateday') 
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
    select(name='startdatemonth') 
      option(value='jan') jan
      option(value='feb') feb
      option(value='mar') mar
      option(value='apr') apr   
    select(name='startdateyear') 
      option(value='jan') 2013
      option(value='feb') 2014
      option(value='mar') 2015
    br
    h4 End Date
    select(name='enddateday') 
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
    select(name='enddatemonth') 
      option(value='jan') jan
      option(value='feb') feb
      option(value='mar') mar
      option(value='apr') apr   
    select(name='enddateyear') 
      option(value='jan') 2013
      option(value='feb') 2014
      option(value='mar') 2015
    br
    br
    input(class="btn btn-large btn-primary", type='submit', value='Submit')
  form(id="cancel", action='/', method='get', style="display:inline-block; margin-left: -550px")
    input(class="btn btn-large", type='submit', value='Cancel')
      

