body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#calendar{
	font-size: 15px;
	display:inline-block; 
	float:right;
	vertical-align:text-top; 
	margin-left: 200px;
	color: rgb(0, 0, 0);
	background-color: rgb(147, 147, 160);
	width: 700px;
	border-radius: 12px
}