body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#calendar{
	font-size: 15px;
	display:inline-block; 
	float:right;
	vertical-align:text-top; 
	margin-left: 200px;
	color: rgb(0, 0, 0);
	background-color: rgb(147, 147, 160);
	width: 700px;
	border-radius: 12px
}

#individualtask{
	border-color: blue;
	border-style:solid;
	border-left-color: blue;
	border-right-color:blue;  
}
#second{
	position: fixed;
	left:50px;
	top:120px;
	border-color: white;
	border-style: solid;
}


.task{
	float: right;
	position:absolute;
 	top:140px;
 	right:500px;
 	width:200px;
}
h1{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	background-color:#b0e0e6;
}
